<footer class="last">
  <div class="container">
    <p>Tsumiage App</p>
    <p>Copyright ©︎ Aka All Rights Reserved.</p>
    <div class="others">
      <%# <a href="" class="twitter"><i class="fab fa-twitter"></i>ツイート</a>
      <a href="" class="good"><i class="far fa-thumbs-up"></i>いいね！</a>
      <a href="" class="share">シェア</a> %>
    </div>
    <h2>Designed by Aka</h2>
  </div>
</footer>